<footer>
    <div>
        <h3>Information</h3>
        <ul>
            <li>That is site for finding your work</li>
            <li>That is just a simulation</li>
            <li>You can create your own profil is youe wanna find a work</li>
            <li>And you can create an requuest if you want find a worker</li>
        </ul>
    </div>
    <div>
        <h3>Contacts</h3>
        <ul>
            <li>GitHub: <a href=" https://github.com/Alex7170">Alex7170</a></li>
            <li>Email: yaroshenko.sashko@gmail.com</li>
        </ul>
    </div>
</footer>