<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating request</title>
</head>
<body>
    {{> headerTrue}}
    <h2>New request</h2>
    <p>Don't write in columns such words as "I am looking for..." or "I want..." etc.</p>
    <form action="/api/myPage/newRequest"  method="POST">
        <label for="">Looking for(title of request):</label>
        <input type="text" name="title" required>
        <label for="">Experince:</label>
        <p>If experince is not necessary just left this column empty</p>
        <input type="text" name="experience">
        <label for="">Sallary</label>
        <p>If sallary is not intended just left this column empty</p>
        <input type="text" name="salary">
        <label for="">Information about your request</label>
        <p>like what can you suggest and etc.</p>
        <textarea name="other" cols="30" rows="10" required></textarea>
        <p>(your contacts will be automatically showed)</p>
        <input type="submit" value="Create request">
    </form>
    <a href="/myPage">Back to my page</a>
    {{> footer}}
</body>
</html>