<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    {{> headerFalse}}
    <h2>Registration</h2>
    <form method="POST">
        <label for="">Email</label>
        <input type="email" name="email">
        <label for="">Password</label>
        <input type="text" name="password1">
        <label for="">Repead password</label>
        <input type="text" name="password2">
        <input type="submit" value="Continue registration">
    </form>
    <a href="/api/auth/login">Already have an account? Log in</a>
    {{> footer}}
</body>
</html>