<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    {{headerFalse}}
    <h2>Add other information about yourself</h2>
    <form action="http://localhost:3000/api/auth/registration2" method="POST">
        <label for="">Name</label>
        <input type="text" name="name" required>
        <label for="">Surname</label>
        <input type="text" name="surname" required>
        <label for="">age</label>
        <input type="number" name="age">
        <label for="">country</label>
        <input type="text" name="country">
        <label for="">experience</label>
        <p>Write main information about your experince in programming.</p>
        <textarea name="experience" cols="30" rows="4"></textarea>
        <label for="">links</label>
        <p>Write some links abbot you if you want in such format as: git - http:/git/somepage/yourAccount. </p>
        <p>Put an enter after every link.</p>    
        <textarea name="links" cols="30" rows="5" maxlength="250"></textarea>
        <label for="">Phone number</label>
        <input type="tel" name="phone">
        <label for="">other</label>
        <p>Write details that you also want to tell.</p>
        <textarea name="other" cols="30" rows="7" maxlength="500"></textarea>>
        <input type="submit" value="Add this information">
    </form>
    {{footer}}
</body>
</html>