<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    {{header}}
    <h2>Add other information about yourself</h2>
    <form action="http://localhost:3000/api/auth/registration2?_method=PUT" method="POST">
        <label for="">Name</label>
        <input type="text" name="name" required>
        <label for="">Surname</label>
        <input type="text" name="surname" required>
        <label for="">age</label>
        <input type="number" name="age">
        <label for="">country</label>
        <input type="text" name="country">
        <label for="">experience</label>
        <p>Write main information about your experince in programming.</p>
        <input type="text" name="experience">
        <label for="">other</label>
        <p>Write details that you also want to tell.</p>
        <input type="text" name="other">
        <label for="">links</label>
        <p>Write some links abbot you if you want in format like : git - http:/git/somepage/yourAccount.</p>
        <input type="text" name="links">
        <label for="">Avatar</label>
        <p>Upload an avatar</p>
        <input type="file" name="avatar">
        <input type="submit" value="Add this information">
    </form>
    {{footer}}
</body>
</html>