<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration succes</title>
</head>
<body>
    {{> headerFalse}}
    <h1>Succesfully registered</h1>
    <h4>You will be redirected to login page in 3 seconds</h4>
    {{> footer}}
    <script>
        setTimeout(()=> window.location.href = "http://localhost:3000/api/auth/login", 3000)
    </script>
</body>
</html>